body {
  height: 100vh;
  background: linear-gradient(to bottom, #D9F9FD , #FFFFFF);
  font-family: 'Khula', sans-serif;
  color: #2f2f2f;
}

div#container {
  max-width: 500px;
  margin: 0 auto;
}

button.add {
  background-color: #7EEC91;
  color: white;
  border: none;
  font-size: .8em;
  padding: 6px;
}

button.add:hover {
  cursor: pointer;
}

div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}